<table class="dashboard-table table table-borderless">
  <thead>
    <tr>
      <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">TO DO</th>
      <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">In progress</th>
      <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Complete</th>
      <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Done</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @tickets.filter_by_status("todo").each do |ticket| %>
          <div class="row">
            <%= render partial: 'ticket', locals: {ticket: ticket} %>
          </div>
        <% end %>
      </td>
      <td>
        <% @tickets.filter_by_status("inprogress").each do |ticket| %>
          <div class="row">
            <%= render partial: 'ticket', locals: {ticket: ticket} %>
          </div>
        <% end %>
      </td>
      <td>
        <% @tickets.filter_by_status("complete").each do |ticket| %>
          <div class="row">
            <%= render partial: 'ticket', locals: {ticket: ticket} %>
          </div>
        <% end %>
      </td>
      <td>
        <% @tickets.filter_by_status("done").each do |ticket| %>
          <div class="row">
            <%= render partial: 'ticket', locals: {ticket: ticket} %>
          </div>
        <% end %>
      </td>
    </tr>

  </tbody>
</table>
