<%= render 'projects/left_sidebar' %>
<%= render 'projects/tabs' %>

<div class="container">
  <table class="table table-borderless">
    <thread>
      <tr>
        <th>TODO</th>
        <th>In progress</th>
        <th>Complete</th>
        <th>Done</th>
      </tr>
    </thread>
  </table>
</div>
