<%= render 'projects/left_sidebar' %>
<%= render 'tabs' %>

<div class="container-fluid">
  <div id="all-tasks"><%= render 'dashboard_table' %></div>
</div>

<%= image_submit_tag("up.png", id: 'top-button', onclick: 'topFunction()', remote: true, title: 'Go to top') %>
