<div class="sidenav">
  <% @clients.each do |client| %>
    <%= link_to client.full_name, client_path(client) %></a>
  <% end %>

  <div class="footer">
    <%= link_to 'Add new client', new_client_path %>
  </div>
</div>
