<div class="main">
    <ul class="nav nav-tabs">
      <li><%= link_to 'Details', project_ticket_path(@ticket.project, @ticket) %></li>
      <li><%= link_to 'Time tracking', ticket_time_tracking_path(@ticket.project, @ticket) %></li>
      <li><%= link_to 'Comments', ticket_comments_path(@ticket) %></li>
      <li><%= link_to 'Attachments', ticket_attachments_path(@ticket.project, @ticket) %></li>
    </ul>
