//-----> REPORTS - INDEX.HTML.ERB
$(document).on('turbolinks:before-cache', function() {
    $('#report_employees').multiselect('destroy');
    $('#report_projects').multiselect('destroy');
    $('#report_tickets').multiselect('destroy');
    $('#report_statuses').multiselect('destroy');
} );

document.addEventListener("turbolinks:load", function() {
  set_up_dropdowns();
  set_up_datetimepickers();
})

function set_up_dropdowns() {
  $('#report_employees').multiselect({
    nonSelectedText: 'Employees',
    includeSelectAllOption: true
  });

  $('#report_tickets').multiselect({
    nonSelectedText: 'Tickets',
    includeSelectAllOption: true
  });

  $('#report_statuses').multiselect({
    nonSelectedText: 'Status',
    includeSelectAllOption: true
  });

  $('#report_projects').multiselect({
    nonSelectedText: 'Projects',
    includeSelectAllOption: true,
    onChange: function(option, checked) {
      selected_projects = $('#report_projects').val().map(Number);
      $.ajax({
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url: "refill_employees_dropdown",
        type: "POST",
        data: {"selected_projects": selected_projects},
        success: function (data){
          data = data["employees"].filter((v, i, a) => a.indexOf(v) === i); //to eliminate duplicates
          var htm = '';
          for(var i = 0; i < data.length; ++i) {
            htm += '<option>' + data[i] + '</option>';
            $('#report_employees').html(htm);
            $('#report_employees').multiselect('rebuild');
          }
        }
      });
    }
  });
};

function set_up_datetimepickers() {
  $( "#report-from-datetimepicker" ).datetimepicker(
    {
      format: 'YYYY-MM-DD', //without time
      useCurrent: false
    }
  );

  $( "#report-to-datetimepicker" ).datetimepicker(
    {
      format: 'YYYY-MM-DD', //without time
      useCurrent: false
    }
  );
}
