//-----> REPORTS - INDEX.HTML.ERB
var template;
var template_projects, template_employees, template_tickets, template_statuses;

$(document).on('turbolinks:before-cache', function() {
    $('#report_employees').multiselect('destroy');
    $('#report_projects').multiselect('destroy');
    $('#report_tickets').multiselect('destroy');
    $('#report_statuses').multiselect('destroy');
} ); //because i had a bug, whenever i was going back to new reports page, the dropdowns duplicated

document.addEventListener("turbolinks:load", function() {
  set_up_dropdowns();
  set_up_datetimepickers();

  if (template) {
    $("#report_projects").val(template_projects.split(" "));
    $('#report_projects').multiselect( 'rebuild' );

    splitted_employees = template_employees.split(" ");
    for (var i = 0; i < splitted_employees.length; i += 2) {
      splitted_employees[i] = splitted_employees[i] + " " + splitted_employees[i+1];
    } //because values from employees dropdown are employees' full names, also 'split' function splits first name from last name
    $("#report_employees").val(splitted_employees);
    $('#report_employees').multiselect( 'rebuild' );

    $("#report_tickets").val(template_tickets.split(" "));
    $('#report_tickets').multiselect( 'rebuild' );

    $("#report_statuses").val(template_statuses.split(" "));
    $("#report_statuses").multiselect( 'rebuild' );
  }

  template = false;
})

function set_up_dropdowns() {
  $('#report_employees').multiselect({
    nonSelectedText: 'Employees',
    includeSelectAllOption: true
  });

  $('#report_tickets').multiselect({
    nonSelectedText: 'Tickets',
    includeSelectAllOption: true
  });

  $('#report_statuses').multiselect({
    nonSelectedText: 'Status',
    includeSelectAllOption: true
  });

  $('#report_projects').multiselect({
    nonSelectedText: 'Projects',
    includeSelectAllOption: true,
    onChange: function(option, checked) {
      selected_projects = $('#report_projects').val().map(Number);
      $.ajax({
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url: "refill_employees_dropdown",
        type: "POST",
        data: {"selected_projects": selected_projects},
        success: function (data){
          data = data["employees"].filter((v, i, a) => a.indexOf(v) === i); //to eliminate duplicates
          var htm = '';
          for(var i = 0; i < data.length; ++i) {
            htm += '<option>' + data[i] + '</option>';
            $('#report_employees').html(htm);
            $('#report_employees').multiselect('rebuild');
          }
        }
      });
    }
  });
};

function set_up_datetimepickers() {
  $( "#report-from-datetimepicker" ).datetimepicker(
    {
      format: 'YYYY-MM-DD', //without time
      useCurrent: false
    }
  );

  $( "#report-to-datetimepicker" ).datetimepicker(
    {
      format: 'YYYY-MM-DD', //without time
      useCurrent: false
    }
  );
}

function template_setup(e) {
  e.getAttribute("data-projects")  ? template_projects = e.getAttribute("data-projects") : template_projects = ""
  e.getAttribute("data-employees") ? template_employees = e.getAttribute("data-employees") : template_employees = ""
  e.getAttribute("data-tickets")   ? template_tickets = e.getAttribute("data-tickets") : template_tickets = ""
  e.getAttribute("data-statuses")  ? template_statuses = e.getAttribute("data-statuses") : template_statuses = ""
  template = true;
}
