//-----> REPORTS - INDEX.HTML.ERB
document.addEventListener("turbolinks:load", function() {
  set_up_dropdowns();
})

function set_up_dropdowns() {
  $('#select_on_employees').multiselect({
    nonSelectedText: 'Employees',
  });

  $('#select_on_projects').multiselect({
    nonSelectedText: 'Projects',
    onChange: function(option, checked) {
      selected_projects = $('#select_on_projects').val().map(Number);
      $.ajax({
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url: "reports/refill_employees_dropdown",
        type: "POST",
        data: {"selected_projects": selected_projects},
        success: function (data){
          data = data["employees"].filter((v, i, a) => a.indexOf(v) === i); //to eliminate duplicates
          var htm = '';
          for(var i = 0; i < data.length; ++i) {
            htm += '<option>' + data[i] + '</option>';
            $('#select_on_employees').html(htm);
            $('#select_on_employees').multiselect('rebuild');
          }
        }
      });
    }
  });
};

      // $.ajax({
      //   url: "reports/tickets_priority",
      //   type: "POST",
      //   data: {"selected_project": option.val()}
      // });
