.left-message {
  margin-left: 50px;
  padding-left: 10px;
}

.right-message {
  margin-left: 10px;
  padding-left: 10px;
}

#message-body {
  color: white;
  font-size: 16px;
  background-color: #337ab7;
  border: 2px solid #337ab7;
  border-radius: 8px;
  width: 500px;
}

.left-chat-avatar {
  float: left;
  margin-left: 0px;
  padding-left: 0px;
}

ul {
  text-decoration: none;
}
