//dashboard
.dashboard-table th + th { border-left:2px solid #2196F3; }
.dashboard-table td + td { border-left:2px solid #2196F3; }

.dashboard-table th { text-align: center; color: #2196F3; font-size: 18px;}
.dashboard-table td { text-align: center; }

.dashboard-table { width: 100px; }

.table-borderless td,
.table-borderless th {
    border-top: none !important //to remove lines between rows
}

.panel {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.panel-heading h5, h6 {
  display:inline;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
}

.panel-body .right {
  float: right;
}

.panel-body a {
  margin-right: 15px;
}

.employee-avatar {
  border-radius: 50%;
}

//comments
.comment-image:hover {
  transform: scale(20);
  z-index: 10;
}
