//settings
.display-inline {
  display: inline;
  margin-right: 5px;
}

.report-datetimepicker-wrapper {
  width: 500px;
}

.report-generation-button {
  margin-left: 430px;
}

//reports in SHOW page
.simple-calendar {
  margin-left: 35px;
  margin-top: 10px;
  width: 1500px;
  background-color: #ffffff; //for pdf
}

.calendar-ticket {
  padding: 2px;
  color: white;
  border-radius: 5px;
}

.calendar-title {
  display: flex;
  justify-content: center;
  font-weight: 900;
  text-decoration: underline;
}

.calendar-legend {
  display: flex;
  justify-content: center;
}

.calendar-legend-todo, .calendar-legend-inprogress, .calendar-legend-complete, .calendar-legend-done {
  float: left;
}

.timeline-wrapper {
  margin-left: 35px;
  margin-top: 100px;
}

.timeline-wrapper span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
}

//INDEX page
.reports-table th {
  text-align: center;
}

.reports-table td {
  text-align: center;
}
