.display-inline {
  display: inline;
}

.report-datetimepicker-wrapper {
  width: 500px;
}

.simple-calendar {
  margin-left: 35px;
  width: 1500px;
}

.calendar-ticket {
  padding: 2px;
  color: white;
  border-radius: 5px;
}

.calendar-title {
  float: left;
  margin-left: 600px;
  font-weight: 900;
  text-decoration: underline;
}

.calendar-legend {
  margin-left: 580px;
}

.calendar-legend-todo, .calendar-legend-inprogress, .calendar-legend-complete, .calendar-legend-done {
  float: left;
}
