.display-inline {
  display: inline;
}

.report-datetimepicker-wrapper {
  width: 500px;
}

.chart-title {
  margin-left: 35px;
  margin-top: 30px;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
}

//calendar ---------------------------------------------------------------------
.simple-calendar {
  margin-left: 35px;
  margin-top: 10px;
  width: 95%;
}

.simple-calendar table td {
  border: 1px solid green;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
}

.calendar-ticket {
  padding: 2px;
  color: white;
  border-radius: 5px;
}

.calendar-title {
  font-weight: 900;
  text-decoration: underline;
}

.calendar-legend {
  margin-left: 580px;
}

.calendar-legend-todo, .calendar-legend-inprogress, .calendar-legend-complete, .calendar-legend-done {
  float: left;
}

//timeline ---------------------------------------------------------------------
.timeline-wrapper {
  margin-top: 50px;
}

#tickets_after_statuses_timeline {
  margin-left: 35px;
}
